<ion-header>
  <ion-toolbar>
    <ion-title>
      Jami Bot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="2" push="6">
        <div>
          1 of 3
        </div>
      </ion-col>
      <ion-col size="6" pull="2">
        <div>
          2 of 3
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          3 of 3
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <br>
  <br>
  <br>
  <br>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          1 of 3
        </div>
      </ion-col>
      <ion-col size="auto">
        <div>
          Variable width content aoeunnnnnnnnnnnnnnnnnnnnnnoh oneuhonu onnnno unohuhounohuhhou nu
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 3
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          1 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          2 of 4
        </div>
      </ion-col>
      <ion-col size="auto">
        <div>
          <ion-input placeholder="Variable width input"></ion-input>
        </div>
      </ion-col>
      <ion-col>
        <div>
          4 of 4
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <ion-grid class="grid-of-icons">
    <ion-row>
      <ion-col *ngFor="let icon of icons1">
        <ion-icon [name]="icon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let icon of icons2">
        <ion-icon [name]="icon"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <br>
  <br>
  <br>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <img src="assets/jamibot.png">
      </ion-col>
      <ion-col>
        <img src="assets/jamibot.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1">
        <img src="assets/jamibot.png">
      </ion-col>
      <ion-col>
        <img src="assets/jamibot.png">
      </ion-col>
      <ion-col size="1">
        <img src="assets/jamibot.png">
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <br>
  <br>

  <ion-button href="https://jamibot.com" color="secondary">Learn more from Jami Bot</ion-button>
</ion-content>